{% extends "base.html" %}
{% block title %}Editar libro{% endblock %}

{% block content %}
<h1>Detalles del libro</h1>

<div class="book-details">
    <p><strong>Título:</strong> {{ libro.titulo }}</p>
    <p><strong>Autor:</strong> {{ libro.autor }}</p>    
    <p><strong>Resumen:</strong> {{ libro.resumen }}</p>
    <p><strong>Género:</strong> {{ libro.genero }}</p>
    <p><strong>Año de publicación:</strong> {{ libro.anio_publicacion }}</p>
</div>


<div class="form-container">
    {% include 'componentes/libro_form.html' %}
</div>
{% endblock %}
