<form method="POST" novalidate>
    {{ form.hidden_tag() }}

    <div>
        <label for="{{ form.libro_id.id }}">{{ form.libro_id.label }}</label>
        {{ form.libro_id }}
        {% for error in form.libro_id.errors %}
            <p role="alert">{{ error }}</p>
        {% endfor %}
    </div>

    <div>
        <label for="{{ form.socio_id.id }}">{{ form.socio_id.label }}</label>
        {{ form.socio_id }}
        {% for error in form.socio_id.errors %}
            <p role="alert">{{ error }}</p>
        {% endfor %}
    </div>

    {{ form.submit }}
</form>
